$color-text-dark: #2f343d;
$color-text-grey: #444444;
$color-text-light: #656768;
$color-text-lighter: #ffffff;
$color-text-grey-system: #6c727a;

$bg-color-darker: #1f2329;
$bg-color-dark: #2f343d;
$bg-color-grey: #656768;
$bg-color-light: #f7f8fa;
$bg-color-white: #ffffff;

$color-dark-blue: #175cc4;
$color-blue: #1d74f5;
$color-light-blue: #4eb2f5;
$color-lighter-blue: #03FCF5;
$color-purple: #8460e6;
$color-red: #c43749;
$color-dark-red: #e0364d;
$color-orange: #f59547;
$color-yellow: #7f690f;
$color-dark-yellow: #FAD605;
$color-green: #167052;
$color-dark-green: #07F501;

$overlay-bg-color: rgba(12, 13, 15, 0.6);
